<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h1>Register</h1> 
  <small><%=message%></small>
  <form action="/auth/register" method="POST">
    Name:<input type="text" name="name">
    Email:<input type="text" name="email">
    Password:<input type="password" name="password">
    <button type="submit">Register</button>
  </form>

  

  </body>
  </html>