<!doctype html>
<html class="no-js" lang="zxx">
<head>
<% include ../partials/csshead %>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	
	<!-- <div class="fakeloader"></div> -->


	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Start Header Area -->
        <header class="htc__header bg--white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                            <div class="logo">
                                <a href="/">
                                    <img src="../images/logo/logo.png" alt="logo images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <nav class="main__menu__nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="drop"><a href="/">Home</a>
                                        </li>
                                        <li><a href="/auth/login">Log In</a></li>
                                        <li class="drop"><a href="/users">Accounts</a>
                                            <ul class="dropdown__menu">
                                                <li><a href="/auth/register">Create an Account</a></li>
                                                <li><a href="/users/edit">Edit your Account</a></li>
                                                <!-- <li><a href="menu-details.html">Menu Details</a></li> -->
                                            </ul>
                                        </li>
                                        <!-- <li><a href="gallery.html">Gallery</a></li> -->
                                        <li class="drop"><a href="/happyhours">Happy Hours</a>
                                            <ul class="dropdown__menu">
                                                <li><a href="/happyhours">All Happy Hours</a></li>
                                                <li><a href="/happyhours/new">Add a Happy Hour</a></li>
                                                <li><a href="/reviews">Look at All Reviews</a></li>
                                                <li><a href="/reviews/new">Add a Review</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>     
                            </div>
                        </div>
                        <!-- <div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">
                            <div class="header__right d-flex justify-content-end">
                                <div class="log__in">
                                    <a class="accountbox-trigger" href="#"><i class="zmdi zmdi-account-o"></i></a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- Mobile Menu -->
                        <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->
        <!-- Start Slider Area -->
        <!-- <div class="slider__area slider--one">
            <div class="slider__activation--1"> -->
                <!-- Start Single Slide -->
                <!-- <div class="slide fullscreen bg-image--1" style="background: url('images/bg/1.jpg')"> -->
                  <!-- bg-image--1 -->
                    <!-- <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="slider__content">
                                    <div class="slider__inner">
                                        <h2>EatDrinkDen</h2>
                                        <h1>Find the Best Happy Hour in Denver</h1>
                                        <div class="slider__input">
                                            <input type="text" placeholder="Neighborhood">
                                            <input class="res__search" type="text" placeholder="Restaurant">
                                            <div class="src__btn">
                                                <a href="#">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Slide -->
            <!-- </div>
        </div> -->
        <!-- End Slider Area -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: url('../images/bg/login.jpg')">
            <div class="ht__bradcaump__wrap d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bradcaump__inner text-center brad__white">
                                <h2 class="bradcaump-title">Register or Log In</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <!-- <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                                  <span class="breadcrumb-item active">contact us</span> -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area --> 
               <!-- Start Address -->
               <div class="food__contact">
                    <div class="food__contact__wrapper d-flex flex-wrap flex-lg-nowrap">
                        <!-- Start Single Contact -->
                        <!-- <div class="contact">
                            <div class="ct__icon">
                                <i class="zmdi zmdi-phone"></i>
                            </div>
                            <div class="ct__address">
                                <p><a href="#">+088 01673-453290</a></p>
                                <p><a href="#">+088 01773-458290</a></p>
                            </div>
                        </div> -->
                        <!-- End Single Contact -->
                        <!-- Start Single Contact -->
                        <!-- <div class="contact">
                            <div class="ct__icon">
                                <i class="zmdi zmdi-home"></i>
                            </div>
                            <div class="ct__address">
                                <p>Elizabeth Tower. 6th Floor <br> Medtown, New York</p>
                            </div>
                        </div> -->
                        <!-- End Single Contact -->
                        <!-- Start Single Contact -->
                        <!-- <div class="contact">
                            <div class="ct__icon">
                                <i class="zmdi zmdi-email"></i>
                            </div>
                            <div class="ct__address">
                                <p><a href="#">delivery@e-mail.com</a></p>
                                <p><a href="#">Aahar@e-mail.com</a></p>
                            </div>
                        </div> -->
                        <!-- End Single Contact -->
                    </div>
                </div>
                <!-- End Address -->
                <section class="food__contact__form bg--white section-padding--lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact__form__wrap">
                                    <h2>Register for an Account</h2>
                                    <div class="contact__form__inner">
                                            <!-- <small><%=message%></small> -->
                                        <form id="contact-form" action="/auth/register " method="post">
                                            <div class="single-contact-form">
                                                <div class="contact-box name d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                                    <input type="text" name="name" placeholder="Your Name"><br/>
                                                    <input type="email" name="email" placeholder="E-mail"><br/>
                                                    <input type="password" name="password" placeholder="Password"><br/>
                                                </div>
                                            </div>
                                            <!-- <div class="single-contact-form">
                                                <div class="contact-box message">
                                                    <textarea name="message"  placeholder="Message*"></textarea>
                                                </div>
                                            </div> -->
                                            <div class="contact-btn">
                                                <button type="submit" class="food__btn">Register</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-output">
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
     
        <!-- Start Footer Area
        <footer class="footer__area footer--1">
            <div class="footer__wrapper bg__cat--1 section-padding--lg">
                <div class="container">
                    <div class="row"> -->
                        <!-- Start Single Footer -->
                        <!-- <div class="col-md-6 col-lg-3 col-sm-12">
                            <div class="footer">
                                <h2 class="ftr__title">About Aahar</h2>
                                <div class="footer__inner">
                                    <div class="ftr__details">
                                        <p>Lorem ipsum dolor sit amconsectetur adipisicing elit,</p>
                                        <div class="ftr__address__inner">
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-home"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p>123 Main St, Denver CO 80237</p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-phone"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="#">+303-555-5555</a></p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div> -->
                                                <!-- <div class="frt__address__details">
                                                    <p><a href="#">denverhappyhours@gmail.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="social__icon">
                                            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <!-- <div class="col-md-6 col-lg-3 col-sm-12 sm--mt--40">
                            <div class="footer gallery">
                                <h2 class="ftr__title">Our Gallery</h2>
                                <div class="footer__inner">
                                    <ul class="sm__gallery__list">
                                        <li><a href="#"><img src="images/gallery/sm-img/1.jpg" alt="gallery images"></a></li>
                                        <li><a href="#"><img src="images/gallery/sm-img/2.jpg" alt="gallery images"></a></li>
                                        <li><a href="#"><img src="images/gallery/sm-img/3.jpg" alt="gallery images"></a></li>
                                        <li><a href="#"><img src="images/gallery/sm-img/4.jpg" alt="gallery images"></a></li>
                                        <li><a href="#"><img src="images/gallery/sm-img/5.jpg" alt="gallery images"></a></li>
                                        <li><a href="#"><img src="images/gallery/sm-img/6.jpg" alt="gallery images"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <!-- <div class="col-md-6 col-lg-3 col-sm-12 md--mt--40 sm--mt--40">
                            <div class="footer">
                                <h2 class="ftr__title">Latest Post</h2>
                                <div class="footer__inner">
                                    <div class="lst__post__list">
                                        <div class="single__sm__post">
                                            <div class="sin__post__thumb">
                                                <a href="blog-details,html">
                                                    <img src="images/blog/sm-img/1.jpg" alt="blog images">
                                                </a>
                                            </div>
                                            <div class="sin__post__details">
                                                <h6><a href="blog-details.html">Chicken Shawarma </a></h6>
                                                <p>Lordo loram consecte turadip isicing</p>
                                            </div>
                                        </div>
                                        <div class="single__sm__post">
                                            <div class="sin__post__thumb">
                                                <a href="blog-details,html">
                                                    <img src="images/blog/sm-img/2.jpg" alt="blog images">
                                                </a>
                                            </div>
                                            <div class="sin__post__details">
                                                <h6><a href="blog-details.html">Fruits Desert</a></h6>
                                                <p>Lordo loramcon secte turadipi sicing</p>
                                            </div>
                                        </div>
                                        <div class="single__sm__post">
                                            <div class="sin__post__thumb">
                                                <a href="blog-details,html">
                                                    <img src="images/blog/sm-img/3.jpg" alt="blog images">
                                                </a>
                                            </div> -->
                                            <!-- <div class="sin__post__details">
                                                <h6><a href="blog-details.html">Vanilla Pastry</a></h6>
                                                <p>Lordo loramcon secte turadip isicing</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Single Footer -->
                    <!-- </div>
                </div>
            </div> -->
            <div class="copyright bg--theme">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="copyright__inner">
                                <div class="cpy__right--left">
                                    <p>@All Right Reserved <a href="https://www.google.com">EatDrinkDen</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
        
	</div><!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
</body>
</html>
