<nav>
    <a href="/">Home</a>
    <a href="/users">All Users</a>
    <a href="/users/new">Create An Account</a>
    <a href="/users/edit">Update Your Account</a>
    <a href="/happyhours">View All Happy Hours</a>
    
</nav>
