


<nav>
    <a href="/"><button>Home</button></a>
    <a href="/users"><button>All Users</button></a>
    <a href="/users/edit"><button>Update Your Account</button></a>
    <a href="/happyhours"><button>View All Happy Hours</button></a>
    <a href="/happyhours/new"><button>Review a Happy Hour</button></a>
    
</nav>
