<!DOCTYPE html>
<html>
<head>
<% include partials/csshead %>
</head>
<body>
  <header>
      <h1>Welcome to Denver Happy Hours</h1>
      <a href="/auth/login"><button>LOGIN!</button></a>
  </header>

  <main>
  
  </main>

  <section class='reviews'>
    <a href='/reviews'>Reviews</a>
  </section>

</body>
</html>
