<!DOCTYPE html>
<html>
<head>
<% include partials/csshead %>
</head>
<body>
  <header>
  <% include partials/navbar %>
      <h1>Welcome to Denver Happy Hours</h1>
  </header>

  <main>
  <form action="/users" method="POST">
  Email: <input type="text" name="email" value="email"><br>
  Password: <input type="password" name="password" value="password"><br>
      <button type="submit" value="login">Log In</button>
  </main>

</body>
</html>
