<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <header>
      <%- include('partials/navbar') %>
      <h1>Welcome to Denver Happy Hours</h1>
  </header>

  <main>
    <a href="/users">Log In</a>
  </main>

</body>
</html>
