<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/csshead %>
</head>

<body>
   <header>
   <% include ../partials/navbar %>
        <h1>New Happy Hour</h1>
   </header> 
   <main>
        <form action="/happyhours/<%=happy._id%>?_method=PUT" method="POST">
                Restaurant: <input type='text' name='restaurant'><br/>
                Time: <input type="text" name="time"><br/>
                Neighborhood: <input type="text" name="neighborhood"><br/>
            <input type="submit" value="Create Happy Hour">
        </form>
   </main>
   
</body>
</html>