<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/happyhours">Happy Hour Index</a>
            </li>
          </ul>
        </nav>
      </header>
      <h1>
        <%=happy.restaurant%>
      </h1>
      <p>Time: <%= happy.time %></p><br/>
      <p>Neighborhood: <%= happy.neighborhood %></p><br/>
     <a href='/happyhours/<%=happy._id%>/edit'>Edit</a> 
</body>
</html>

