<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <h1>Edit Your Review</h1><br>

    <form action="/users/<%=reviews._id%%>?_method=PUT" method="POST">
    <input type="text" name="title" value="<%= reviews.title %>">
    <input type="text" name="review" value="<%= reviews.email %>">
    <button type="submit">Update Your Review</button>
  </form>
  
  </main>

</body>
</html>