<!DOCTYPE html>
<html>
<head>
<% include ../partials/csshead %>
</head>
<body>
  <header>
      <h1>This is our Reviews Page </h1><br>
  </header>

  <main>
      <% for(let i = 0; i < happy.length; i++) { %>
        <ul>
            <li>
              <a href='happyhours/<%=happy._id%>'>
                <%=happy[i].restaurant%>
              </a>
            </li>
        </ul>
     <% } %>
  </main>
  <body>
    <a href='reviews/new'>New Review</a>
    <% for(let i = 0; i < reviews.length; i++) { %>
      <ul>
        <li>
          <%= reviews[i] %>
        </li>
      </ul>
    <%}%>
  </body>

</body>
</html>