<!DOCTYPE html>
<html>
<head>
<% include ../partials/csshead %>
</head>
<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <h1>This is our Reviews Page </h1><br>
     
  </main>
  <body>
    <a href='reviews/new'>New Review</a>
    <% for(let i = 0; i < reviews.length; i++) { %>
      <ul>
          <li href='<%=reviews[i]._id%>'>
            <%=reviews[i].happyHour%><br/>
            <%=reviews[i].body%>
          </li>
      </ul>
   <% } %>


  </body>

</body>
</html>