<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/csshead %>
</head>
<body>
        <header>
            <% include ../partials/navbar %>
        </header>

    <h2>Write a Review</h2>


    <form action="/reviews/<%=review._id%>" method="POST">
        <label>
            Restaurants
        </label><br/>
            <select name='happyHour'>
                <% for(let i = 0; i < happy.length; i++) { %>
                    <option value='<%=happy[i]._id%>'>
                        <%= happy[i].restaurant %>
                    </option>
                <% } %>
            </select><br/>
        <label>
            Review
        </label><br/>
            <input type ="text" name='body'><br/>
        <button type="submit">Submit Review</button>
    </form>
    
</body>
</html>