<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
        <header>
            <% include ../partials/navbar %>
        </header>

    <h2>Write a Review</h2>


    <form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
        <label>
            Restaurants
        </label><br/>
            <select name='happyId'>
                <% for(let i = 0; i < happy.length; i++) { %>
                    <option value='happy[i].id'>
                        <%= happy[i].restaurant %>
                    </option>
                <% } %>
            </select><br/>
        <label>
            Review
        </label><br/>
            <input type ="text" name='reveiw'><br/>
        <button type="submit">Submit Review</button>
    </form>
    
</body>
</html>