<!DOCTYPE html>
<html>
<head>
    <% include ../partials/csshead %>
</head>
    <header>
        <% include ../partials/navbar %>
    </header>
<body>
    <% for(let i = 0; i < reviews.length; i++) { %>
        <%= reviews[i] %>
    <% } %>
</body>
</html>