<!DOCTYPE html>
<html>
<head>
<% include ../partials/csshead %>
</head>
<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <h1>Edit Your Profile</h1><br>

    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%= user.name %>">
    Email: <input type="text" name="email" value="<%= user.email %>">
    Password: <input type="password" name="password" value="<%= user.password %>">
    <button type="submit">Update Your Profile</button>
  </form>


  </main>

</body>
</html>
