<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <h1>Edit Your Profile</h1><br>

    <form action="/users/<%=users._id%%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%= users.name %>">
    Email: <input type="text" name="email" value="<%= users.email %>">
    Password: <input type="password" name="password" value="<%= users.password %>">
    <button type="submit">Update Your Profile</button>
  </form>


  </main>

</body>
</html>
