<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <h1>Welcome to Denver Happy Hours</h1><br>

        <% for(let i = 0; i < users.length; i++) { %>
            <a href="/users/<%=users._id%>"><%=users.name%></a> 
        <% } %>
  </main>

</body>
</html>
