<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <h1>Welcome to Denver Happy Hours</h1><br>
<<<<<<< HEAD

=======
>>>>>>> 16b44c3e723762e541ada75c991db62d0eeec2c1
  </main>
  <form action="/users?_method=PUT" method="POST">
      Welcome back!
  </form>

</body>
</html>
