<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
      <%- include('partials/navbar') %> 
  </header>

  <main>
    <h1>Welcome to Denver Happy Hours</h1><br>

        <% for(let i = 0; i < users.length; i++) { %>
            <a href="/users/<%=users[i]._id%>"><%=users[i].name %></a> 
        <% } %>
  </main>

</body>
</html>
