<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
      <%- include('partials/navbar') %> 
  </header>

  <main>
    <h1>View Your Profile</h1><br>

<section>
    <% for (let i = 0; i < users.length; i++) {%>
        <li><a href="<%/users/<%=users[i]._id%>"><%= users[i].name %></a></li>
     <% }%>
</section>

<section>
    <form action="/users/<%=users._id%>?_method=DELETE" method="POST" >
        <input type="submit" value="Delete Account">
    </form>
</section>

  </main>
</body>
</html>
