<!DOCTYPE html>
<html>
<head>
<% include ../partials/csshead %>
</head> 
<body>
  <header>
  <% include ../partials/navbar %>

  </header>

  <main>
    <h1>View Your Profile</h1><br>



  </main>
</body>
</html>
